<div class="p-3 d-flex flex-column align-items-center">
  <h1>Hacker Window</h1>
  <div *ngFor="let user of users">
    <ul>
      <li class="d-flex justify-content-between align-items-center">
        <img class="col-4 circle me-3" [src]="user.profilePhoto">
        <label>
          {{ user.username }}
        </label>
        <ng-form [formGroup]="hackerForm" >
          <input matInput class="m-2" type="text" formControlName="password"/>
          <button mat-button class="bg-light icon-link-hover" (click)="onSubmit(user)"> Test </button>
        </ng-form>
      </li>
    </ul>
  </div>
</div>

