<mat-toolbar class="navbar-wrap navbar-style light-shadow">
	<mat-toolbar-row style="padding: -1rem;
	  align-items: center;
    display: flex;
    justify-content: space-between;">
    <h1
      style="font-family: 'Helvetica Neue',sans-serif;">TigerTalk </h1>

    <span>
		<a class="icon-button-sizing" mat-icon-button routerLink="/home">
			<mat-icon>home</mat-icon>
		</a>

		<a class="icon-button-sizing" mat-icon-button routerLink="/login">
			<mat-icon > face</mat-icon>
		</a>
    </span>
	</mat-toolbar-row>
</mat-toolbar>

