.center-justification {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  max-width: 80%;
  max-height: 86%;
  background-color: transparent;
  flex-direction: column;
  overflow: auto;
}

